<%= form_for(@recipe) do |f| %>
  <% if @recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>

      <ul>
      <% @recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :cooking_time %><br>
    <%= f.text_field :cooking_time %>
  </div>
  <div class="field">
    <%= f.label :difficulty_level %><br>
    <%=f.select :difficulty_level, Recipe::DIFFICULTY,{} ,
    :class => "form-control"%>
  </div>
  <div class="field">
    <%= f.label :food_type %><br>
    <%= f.select(:food_type_id,
    options_from_collection_for_select(FoodType.all, :id,
    :name), {:prompt => 'Please Choose'}, :class => "form-
    control") %>
  </div>
  <div class="field">
    <%= f.label :food_preference %><br>
    <%= f.select(:food_preference_id,
    options_from_collection_for_select(FoodPreference.all,
    :id, :name), {:prompt => 'Please Choose'}, :class =>
    "form-control") %>
  </div>
  <div class="field">
    <%= f.label :cuisine %><br>
    <%= f.select(:cuisine_id,
    options_from_collection_for_select(Cuisine.all, :id,
    :name), {:prompt => 'Please Choose'}, :class => "form-
    control") %>
  </div>
  <div class="field">
    <%= f.label :ingredients %><br>
    <%= f.text_area :ingredients %>
  </div>
  <div class="field">
    <%= f.label :procdure %><br>
    <%= f.text_area :procdure %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
